[*.cs]

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CA1036: Override methods on comparable types
dotnet_diagnostic.CA1036.severity = none
